In [1]:
# Answer 1

# Database is where we can store some data which can be accessed later on when needed.
#SQL databases use a structured, tabular data model, while NoSQL databases employs flexible data models and it stores data in JSON format.

In [4]:
# Answer 2

# DDL stands for Data Definition Language. It is a subset of SQL that is used to define and manage the structure of a database. 
# DDL statements are used to create, modify, and delete database objects such as tables, indexes, and constraints.


# CREATE TABLE Customers (   #creates a table with column names as CutomerID, Name and Email which stores INT, String and string datatypes respectively
#     CustomerID INT,
#     Name VARCHAR(50),
#     Email VARCHAR(100)
# );


# DROP TABLE Customers;  #removes the database Customers


# ALTER TABLE Customers    #modifies existing database structure by adding a column Age which stores integers
# ADD Age INT;


# TRUNCATE TABLE Customers;   #deletes the data in the table while keeping the table/structure intact.

In [ ]:
# Answer 3

#DML stands for Data Manipulation Language. It is a subset of SQL that is used to manage and manipulate data within a database. 
#DML statements are used to insert, update, and delete data in database tables.


# INSERT INTO Customers (CustomerID, Name, Email)    #inserts a new row of data in the database
# VALUES (1, 'John Smith', 'john@example.com');


# UPDATE Customers                       #used to modify existing data in the table
# SET Email = 'newemail@example.com'
# WHERE CustomerID = 1;


# DELETE FROM Customers   #used to remove rows of data from the table
# WHERE CustomerID = 1;

In [ ]:
# Answer 4

# DQL stands for Data Query Language. It is a subset of SQL that is used to retrieve and query data from a database. 
# DQL statements are primarily focused on selecting and retrieving data based on specified conditions


# SELECT CustomerID, Name, Email      #used to retrieve data from one or more tables, here from these 3 mentioned columns from table 
# FROM Customers                      #Customers applying a condition that country should be equals to usa
# WHERE Country = 'USA';

In [ ]:
# Answer 5

# A primary key is a column or a set of columns in a database table that uniquely identifies each row or record. It serves as a unique identifier
# for each entry in the table and ensures the uniqueness of the data. 

#A foreign key is a column or a set of columns in a database table that refers to the primary key of another table
#The foreign key in one table refers to the primary key in another table, creating a link between the two

In [ ]:
# Answer 6

#python code to connect mysql to python --

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
)

#The cursor() method creates a cursor object that allows you to execute SQL statements and interact with the database. 
# It is called on the database connection object (mydb in the example) to obtain a cursor.

# The execute() method is used to execute SQL queries or statements. It takes the SQL query as a parameter and executes it 
# using the cursor object

In [ ]:
# Answer 7

#the order is as follows --
# SELECT
# FROM
# JOIN
# WHERE
# GROUP BY
# HAVING
# ORDER BY
# LIMIT/OFFSET