In [15]:
import pandas as pd
import numpy as np

l1 = ["Alice", "25", "Female"]
l2 = ["Bob", "30", "Male"]
l3 = ["Claire", "27", "Female"]
arr = np.array([l1,l2,l3])

df = pd.DataFrame(arr, columns=["Name", "Age", "Gender"])
print(df)

     Name Age  Gender
0   Alice  25  Female
1     Bob  30    Male
2  Claire  27  Female

In [16]:
# Answer 1

#five functions with execution are -- 

# 1) to_csv()
df.to_csv('output.csv', index=False)

# 2) read_csv()
df2 = pd.read_csv('output.csv')
print(df2)
print("\n")

# 3) sort_values()
print(df.sort_values(by="Age"))
print("\n")

# 4) head()
print(df.head(1))
print("\n")

# 5) tail()
print(df.tail(2))

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female


     Name Age  Gender
0   Alice  25  Female
2  Claire  27  Female
1     Bob  30    Male


    Name Age  Gender
0  Alice  25  Female


     Name Age  Gender
1     Bob  30    Male
2  Claire  27  Female

In [17]:
# Answer 2

df = pd.DataFrame(np.arange(0,15).reshape(5,3), columns=["A", "B", "C"])
datafr = df #this line is for use in answer 8
print(df)
print("\n")


def reindexed_dataframe(dframe):
    dframe.index = dframe.index.map(lambda x: x*2 + 1)
    return dframe

df = reindexed_dataframe(df)
print(df)

    A   B   C
0   0   1   2
1   3   4   5
2   6   7   8
3   9  10  11
4  12  13  14


    A   B   C
1   0   1   2
3   3   4   5
5   6   7   8
7   9  10  11
9  12  13  14

In [26]:
# Answer 3

df = pd.DataFrame(np.arange(0,5), columns=['Values'])
tempdf = df #this line is to be used for Answer 9
print(df)
print("\n")

def sum_of_first_3_values_in_df(dframe):
    sum = 0
    for i in range(0,3):
        sum += dframe.values[i][0]
    print(sum)
    
sum_of_first_3_values_in_df(df)

   Values
0       0
1       1
2       2
3       3
4       4


3

In [19]:
# Answer 4

l1=['Word 1']
l2=['I am Word 2']
l3=['Myself Word 3']
l4=['Text number 4']
l5=['I am Text number 5']
arr = np.array([l1,l2,l3,l4,l5])

df = pd.DataFrame(arr, columns=['Text'])
print(df)
print("\n")

def create_word_count_col(dframe):
    dframe['Word Count'] = 0
    for i in range(0, len(dframe['Word Count'].values)):
        dframe['Word Count'].values[i] = len(dframe['Text'].values[i].split())
    return dframe
    
print(create_word_count_col(df))

                 Text
0              Word 1
1         I am Word 2
2       Myself Word 3
3       Text number 4
4  I am Text number 5


                 Text  Word Count
0              Word 1           2
1         I am Word 2           4
2       Myself Word 3           3
3       Text number 4           3
4  I am Text number 5           5

In [20]:
# Answer 5

# The size attribute of a DataFrame returns the total number of elements in the DataFrame, which is calculated as the product of the
# number of rows and columns. It gives you the total count of cells in the DataFrame.
# eg --
print(df.size)


# The shape attribute of a DataFrame returns a tuple representing the dimensions of the DataFrame. It provides the number of rows and
# columns in the DataFrame.
# eg --
print(df.shape)

10
(5, 2)

In [9]:
# Answer 6

# to read excel file in pandas we call read_excel() function

In [21]:
# Answer 7

l1=['sansyprog8@gmail.com']
l2=['kunalkushwaha4573@example.com']
l3=['john.doe@example.com']
arr = np.array([l1,l2,l3])

df = pd.DataFrame(arr, columns=['Email'])
print(df)
print("\n")

def create_username_col(dframe):
    dframe['User Name'] = 'john'
    for i in range(0, len(dframe['User Name'].values)):
        dframe['User Name'].values[i] = dframe['Email'].values[i].split('@')[0]
    return dframe
    
print(create_username_col(df))

                           Email
0           sansyprog8@gmail.com
1  kunalkushwaha4573@example.com
2           john.doe@example.com


                           Email          User Name
0           sansyprog8@gmail.com         sansyprog8
1  kunalkushwaha4573@example.com  kunalkushwaha4573
2           john.doe@example.com           john.doe

In [25]:
# Answer 8

df = datafr #datafr value from Answer 2 is used here
print(df)
print("\n")

def answer_eight(dframe):
    return dframe[(dframe['A'].values > 5) & (dframe['B'].values < 10)]

print(answer_eight(df))

    A   B   C
1   0   1   2
3   3   4   5
5   6   7   8
7   9  10  11
9  12  13  14


   A  B  C
5  6  7  8

In [28]:
# Answer 9

df = tempdf #value of tempdf is used from Answer 3
print(df)
print("\n")

def answer_nine(dframe):
    mean = dframe['Values'].mean()
    median = dframe['Values'].median()
    standard_deviation = dframe['Values'].std()
    print(mean)
    print(median)
    print(standard_deviation)
    

answer_nine(df)

   Values
0       0
1       1
2       2
3       3
4       4


2.0
2.0
1.5811388300841898

In [29]:
# Answer 10

data = {'Date': ['2023-06-01', '2023-06-02', '2023-06-03', '2023-06-04', '2023-06-05', '2023-06-06', '2023-06-07', '2023-06-08', '2023-06-09', '2023-06-10'],
        'Sales': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]}
df = pd.DataFrame(data)
print(df)
print("\n")

def moving_average(dframe):
    dframe['MovingAverage'] = dframe['Sales'].rolling(window=7, min_periods=1).mean()
    return dframe

print(moving_average(df))

         Date  Sales
0  2023-06-01     10
1  2023-06-02     20
2  2023-06-03     30
3  2023-06-04     40
4  2023-06-05     50
5  2023-06-06     60
6  2023-06-07     70
7  2023-06-08     80
8  2023-06-09     90
9  2023-06-10    100


         Date  Sales  MovingAverage
0  2023-06-01     10           10.0
1  2023-06-02     20           15.0
2  2023-06-03     30           20.0
3  2023-06-04     40           25.0
4  2023-06-05     50           30.0
5  2023-06-06     60           35.0
6  2023-06-07     70           40.0
7  2023-06-08     80           50.0
8  2023-06-09     90           60.0
9  2023-06-10    100           70.0

In [37]:
# Answer 11

data = {'Date': ['2023-06-27', '2023-06-28', '2023-06-29', '2023-06-30']}
df = pd.DataFrame(data)
print(df)
print("\n")

def add_weekday_column(dframe):
    dframe['Weekday'] = pd.to_datetime(dframe['Date']).dt.strftime('%A')
    return dframe

print(add_weekday_column(df))

         Date
0  2023-06-27
1  2023-06-28
2  2023-06-29
3  2023-06-30


         Date    Weekday
0  2023-06-27    Tuesday
1  2023-06-28  Wednesday
2  2023-06-29   Thursday
3  2023-06-30     Friday

In [42]:
# Answer 12

data = {'Date': [pd.to_datetime('2023-01-01'), pd.to_datetime('2023-01-20'), pd.to_datetime('2023-01-29'), pd.to_datetime('2023-06-27')]}
df = pd.DataFrame(data)
print(df)
print("\n")

def answer_twelve(dframe):
    return df[(df['Date']>'2023-01-01') & (df['Date']<'2023-01-31')]
    
print(answer_twelve(df))

        Date
0 2023-01-01
1 2023-01-20
2 2023-01-29
3 2023-06-27


        Date
1 2023-01-20
2 2023-01-29

In [43]:
# Answer 13

# To use the basic functions of pandas, pandas library should be imported as follows --
import pandas