In [6]:
import pandas as pd
import numpy as np

In [4]:
# Answer 1

answer = pd.Series([4, 8, 15, 16, 23, 42])
print(answer)
print(type(answer))

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64
<class 'pandas.core.series.Series'>

In [5]:
# Answer 2

lst = [0,1,2,3,4,5,6,7,8,9]
print(pd.Series(lst))

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [17]:
# Answer 3

l1 = ["Alice", "25", "Female"]
l2 = ["Bob", "30", "Male"]
l3 = ["Claire", "27", "Female"]
arr = np.array([l1,l2,l3])

df = pd.DataFrame(arr, columns=["Name", "Age", "Gender"])
print(df)

     Name Age  Gender
0   Alice  25  Female
1     Bob  30    Male
2  Claire  27  Female

In [26]:
# Answer 4

# in Pandas, dataframe is a structurized data with atleast 2 rows and 2 columns
# while Series in Pandas is a 1 dimensional array i.e. either a row or a column

#example -- 

print("Series : ")
print(df['Name'])
print(type(df['Name']))

print("\n\n")

print("Dataframe : ")
print(df[['Name', 'Age']])
print(type(df[['Name', 'Age']]))

Series :
0     Alice
1       Bob
2    Claire
Name: Name, dtype: object
<class 'pandas.core.series.Series'>



Dataframe :
     Name Age
0   Alice  25
1     Bob  30
2  Claire  27
<class 'pandas.core.frame.DataFrame'>

In [34]:
# Answer 5

# there are many functions which can be used to mainupulate data in Pandas dataframe eg -- sort_values, drop, fillna etc
# eg of one of these -- sort_values -->

sorted_df = df.sort_values(by='Age')
print(df)
print("\n\n")
print("sorted df by age : ")
print("\n")
print(sorted_df)

     Name Age  Gender
0   Alice  25  Female
1     Bob  30    Male
2  Claire  27  Female



sorted df by age :


     Name Age  Gender
0   Alice  25  Female
2  Claire  27  Female
1     Bob  30    Male

In [35]:
# Answer 6

# Among dataframe, series and panel, both dataframe and series are mutable unliike panel which is non mutable

In [41]:
# Answer 7

s1 = pd.Series([1, 4, 7, 10, 13, 16])
s2 = pd.Series([2, 5, 8, 11, 14, 17])
s3 = pd.Series([3, 6, 9, 12, 15, 18])

df2 = pd.DataFrame(np.array([s1,s2,s3]).reshape(6,3), index=['Row1', 'Row2', 'Row3', 'Row4', 'Row5', 'Row6'],
                   columns=['Column1', 'Column2', 'Column3'])
df2

      Column1  Column2  Column3
Row1        1        4        7
Row2       10       13       16
Row3        2        5        8
Row4       11       14       17
Row5        3        6        9
Row6       12       15       18