In [22]:
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt

course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
print(df)

print("\n")

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
print(df1)

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4


   column_1  column_2  column_3  column_4  column_5  column_6
1  0.913751  0.662320  0.852920  0.010808  0.978004  0.589947
2  0.535580  0.491163  0.541755  0.506987  0.362185  0.204459
3  0.278481  0.108377  0.724005  0.176048  0.645234  0.245559
4  0.651705  0.751394  0.414930  0.954978  0.113332  0.162546
5  0.613188  0.377911  0.031490  0.702712  0.697828  0.124642
6  0.166390  0.907810  0.113686  0.477013  0.004344  0.349428

In [2]:
# Answer 1

print(df.loc[1])

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [7]:
# Answer 2

# The `loc` function in Pandas is used for label-based indexing, allowing you to access data in a DataFrame using explicit
# row and column labels. On the other hand, the `iloc` function is used for integer-based indexing, where you specify the integer
# positions of rows and columns to access the corresponding data. In essence, `loc` deals with labels, while `iloc` deals with positions.

In [3]:
# Answer 3

reindex = [3,0,1,2]
new_df = df.reindex(reindex)
print(df)
print("\n")
print(new_df.loc[2])
print(new_df.iloc[2])

# yes there will be difference in both the outputs because--
# loc uses label-based indexing, so new_df.loc[2] retrieves the row with the label 2, while iloc uses integer-based indexing,
# so new_df.iloc[2] retrieves the row at the integer position 2

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4


course_name    Big Data
duration              6
Name: 2, dtype: object
course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [4]:
# Answer 4

# i)
print(df1.mean())

print("\n")

# ii)
print(df1['column_2'].std())

column_1    0.253916
column_2    0.458611
column_3    0.497879
column_4    0.628644
column_5    0.517028
column_6    0.233086
dtype: float64


0.17786579444526204

In [8]:
# Answer 5

df1.loc[2, 'column_2'] = "Sanskar"
# df1['column_2'].mean() 
# the above commented line will give typerror because in column_2 we also have a string data and we cannot take mean of strings

In [10]:
# Answer 6

# In pandas, window functions provide a way to perform calculations over a specified window or range of data in a DataFrame or 
# Series. These functions operate on a sliding or expanding window of data and allow you to compute various aggregations and 
# transformations.

# types -- 

# Rolling Window Functions
# Expanding Window Functions
# Exponentially Weighted Moving Average (EWMA) Functions
# Rolling Window Apply Functions

In [17]:
# Answer 7
#pandas datetime module is deprecated so using datetime module
print(f"Current month -- {datetime.now().month} \nCurrent Year -- {datetime.now().year}")

Current month -- 6
Current Year -- 2023

In [19]:
# Answer 8

date1 = input("Enter the first date (YYYY-MM-DD): ")
date2 = input("Enter the second date (YYYY-MM-DD): ")

date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

time_diff = date2 - date1
print(f"\n{type(time_diff)}\n")

days = time_diff.days
hours = time_diff.seconds // 3600
minutes = (time_diff.seconds % 3600) // 60

print("Time Difference:")
print("Days:", days)
print("Hours:", hours)
print("Minutes:", minutes)

Enter the first date (YYYY-MM-DD):  2023-4-20
Enter the second date (YYYY-MM-DD):  2023-6-28

<class 'pandas._libs.tslibs.timedeltas.Timedelta'>

Time Difference:
Days: 69
Hours: 0
Minutes: 0

In [ ]:
# Answer 9

file_path = input("Enter the CSV file path: ")
data = pd.read_csv(file_path)

column_name = input("Enter the column name: ")
category_order = input("Enter the category order (comma-separated): ").split(',')

data[column_name] = pd.Categorical(data[column_name], categories=category_order, ordered=True)
sorted_data = data.sort_values(by=column_name)

print(sorted_data)

In [24]:
# Answer 10

file_path = input("Enter the CSV file path: ")
data = pd.read_csv(file_path)

data['Date'] = pd.to_datetime(data['Date'])
grouped_data = data.groupby(['Product Category', 'Date']).sum().reset_index()
pivot_data = grouped_data.pivot(index='Date', columns='Product Category', values='Sales')

pivot_data.plot(kind='bar', stacked=True)
plt.title('Sales of Product Categories Over Time')
plt.xlabel('Date')
plt.ylabel('Sales')

plt.show()

In [27]:
# Answer 11

file_path = input("Enter the CSV file path: ")
data = pd.read_csv(file_path)

mean_score = data['Test Score'].mean()
median_score = data['Test Score'].median()
mode_score = data['Test Score'].mode()[0]

print(pd.DataFrame({'Statistic': ['Mean', 'Median', 'Mode'],
                        'Test Score': [mean_score, median_score, mode_score]}))

Enter the CSV file path:  test.csv

  Statistic  Test Score
0      Mean        83.5
1    Median        85.0
2      Mode        85.0